.body {
  max-width: 700px;
  margin-top: 50px;
  padding-left: 200px;
}

form {
  margin-top: 100px;
  /* padding-left: 200px; */
}

h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-shadow: 3px 3px 3px rgb(1, 148, 123);
}

.send {
  background-color: rgb(1, 126, 67);
}
