.myName {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-shadow: 3px 3px 3px rgb(1, 148, 67);
  padding-top: 5px;
  margin-bottom: -30px;
}

.name {
  font-size: 32px;
}
.tiny {
  padding-left: 70px;
}

.nav-link {
  font-size: 20px;
  padding-top: 30px;
}
